+b.SECTION.cells
    +e.UL.list.wrp
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Большой опыт
            +e.P.text Более 8 лет психокоррекционной и психотерапевтической деятельности: более 3500 часов индивидуальной и групповой работы
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Клинический опыт
            +e.P.text Работала в психбольнице и ПНД
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Личная проработанность
            +e.P.text Прошла более 400 часов личной терапии
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Фундаментальное образование
            +e.P.text Закончила факультет психологии МГУ имени М.В. Ломоносова, общую и клиническую кафедры.
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Профессиональное развитие
            +e.P.text Повышение уровня профессиональной компетентности на циклах тематического усовершенствования в лучших учебных заведениях
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Членство в обществах
            +e.P.text В российских и европейском психологических обществах. Действительный член EFPA, РПО, РПА
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Этичность работы
            +e.P.text Соблюдение этических принципов психолога: уважение, компетентность, ответственность, честность.
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Гипноз с негипнабельными
            +e.P.text Я обучаю человека погружаться в состояние глубокого гипноза вне зависимости от его изначальной гипнабельности
        +e.LI.item
            +icon("ok", "sprite")
            +e.H5.title Индивидуальный подход
            +e.P.text Особый подбор трансовых упражнений для решения конкретной проблемы
