+b.SECTION.test
    iframe(id="ourframe" src="../test/index.html" width="100%" align="left")

//    +e.DIV.cont.wrp
//        +e.H1.title Пройти тестирование
//        +e.UL.btn-block
//            +e.LI.btn-item.btn.active(data-tab="1") ММИЛ
//            +e.LI.btn-item.btn(data-tab="2") МИС
//            +e.LI.btn-item.btn(data-tab="3") УСК
//            +e.LI.btn-item.btn(data-tab="4") 16ЛФ
//            +e.LI.btn-item.btn(data-tab="5") Тест Томаса
//            +e.LI.btn-item.btn(data-tab="6") ЛИРИ
//        +b.DIV.test-block
//            +e.DIV.box.active(data-content="1")
//                h2 ММИЛ
//                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur blanditiis consequatur distinctio dolore earum facere fugit laborum nemo neque nihil odio, optio saepe, sit velit vero voluptatibus. Aperiam eaque eligendi minima odit quas similique ullam vitae. Animi, dicta expedita harum illum, laborum, magnam maxime molestias officiis possimus quae quaerat.
//                ul
//                    li
//                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores autem commodi culpa ea esse et molestias perferendis possimus recusandae?
//                    li
//                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores autem commodi culpa ea esse et molestias perferendis possimus recusandae?
//                    li
//                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores autem commodi culpa ea esse et molestias perferendis possimus recusandae?
//                    li
//                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores autem commodi culpa ea esse et molestias perferendis possimus recusandae?
//                    li
//                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores autem commodi culpa ea esse et molestias perferendis possimus recusandae?
//                    li
//                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores autem commodi culpa ea esse et molestias perferendis possimus recusandae?
//                +e.A.btn.btn(href="#test-popup-item-1")
//                    span Начать тест
//                    +icon("arr-next", "sprite")
//            +e.DIV.box(data-content="2")
//                span content 2
//            +e.DIV.box(data-content="3")
//                span content 3
//            +e.DIV.box(data-content="4")
//                span content 4
//            +e.DIV.box(data-content="5")
//                span content 5
//            +e.DIV.box(data-content="6")
//                span content 6
//.test-modals-example
//    h1 Example
//    +b.DIV.modal-test.wrp
//        +e.H1.title Тест ММИЛ
//        +e.FORM.form_main-info
//            +e.DIV.block
//                +e.INPUT.input_name.form-inp(type="text" name="name" placeholder="Ваше имя")
//                +e.INPUT.input_work.form-inp(type="text" name="work" placeholder="Работа")
//            +e.DIV.block
//                +e.INPUT.input_age.form-inp(type="text" name="age" placeholder="Ваш возраст")
//                +b.DIV.custom-select
//                    +e.SELECT.select(name="education")
//                        option(value="0") Образование
//                        option(value="1") Нет
//                        option(value="2") Среднее
//                        option(value="3") Среднее специальное
//                        option(value="4") Неоконченное высшее
//                        option(value="5") Высшее
//            +e.DIV.block
//                +b.DIV.custom-radio
//                    +e.H5.title Ваш пол
//                    +e.LABEL.label Мужской
//                        +e.INPUT.input(type="radio" name="radio")
//                        +e.SPAN.mask
//                    +e.LABEL.label Женский
//                        +e.INPUT.input(type="radio" name="radio")
//                        +e.SPAN.mask
//                +e.A.btn.btn
//                    span Далее
//                    +icon("arr-next", "sprite")
//
//    +b.DIV.modal-test.wrp
//        +e.H1.title Вопрос 1 из 7892
//        +e.FORM.form
//            +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor ipsa ipsam ipsum, itaque perferendis perspiciatis quae sapiente ullam voluptatem.
//            +e.answer-block
//                +b.DIV.custom-radio
//                    +e.LABEL.label Верно
//                        +e.INPUT.input(type="radio" name="radio")
//                        +e.SPAN.mask
//                    +e.LABEL.label Не верно
//                        +e.INPUT.input(type="radio" name="radio")
//                        +e.SPAN.mask
//                +e.DIV.btn-block
//                    +e.A.btn_prev.btn
//                        span Назад
//                        +icon("arr-prev", "sprite")
//                    +e.A.btn.btn
//                        span Далее
//                        +icon("arr-next", "sprite")
