+b.SECTION.articles.wrp
    +e.DIV.cont
        +e.DIV.title-block
            +e.H1.title Полезные статьи
            +e.A.link.btn(href="articles-page.html") Смотреть все статьи
        ul
            li
                a(href="single-article.html")
                    img(src="img/group.jpg")
                div
                    a(href="single-article.html")
                        h5 Влияние аффекта на семантическую организацию значений
                    span 2 Апреля
            li
                a(href="single-article.html")
                    img(src="img/group.jpg")
                div
                    a(href="single-article.html")
                        h5 Влияние аффекта на семантическую организацию значений
                    span 2 Апреля
            li
                a(href="single-article.html")
                    img(src="img/group.jpg")
                div
                    a(href="single-article.html")
                        h5 Влияние аффекта на семантическую организацию значений
                    span 2 Апреля
            li
                a(href="single-article.html")
                    img(src="img/group.jpg")
                div
                    a(href="single-article.html")
                        h5 Влияние аффекта на семантическую организацию значений
                    span 2 Апреля

