+b.SECTION.articles.wrp
    +e.DIV.cont
        +e.DIV.title-block
            +e.H1.title Полезные статьи
            +e.A.link.btn(href="articles-page.html") Смотреть все статьи
        +e.UL.list
            +e.LI.item
                +e.A.art-link(href="single-article.html")
                    +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.A.art-link(href="single-article.html")
                        +e.H5.lil-title Влияние аффекта на семантическую организацию значений
                    +e.SPAN.date 2 Апреля
            +e.LI.item
                +e.A.art-link(href="single-article.html")
                    +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.A.art-link(href="single-article.html")
                        +e.H5.lil-title Влияние аффекта на семантическую организацию значений
                    +e.SPAN.date 2 Апреля
            +e.LI.item
                +e.A.art-link(href="single-article.html")
                    +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.A.art-link(href="single-article.html")
                        +e.H5.lil-title Влияние аффекта на семантическую организацию значений
                    +e.SPAN.date 2 Апреля
            +e.LI.item
                +e.A.art-link(href="single-article.html")
                    +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.A.art-link(href="single-article.html")
                        +e.H5.lil-title Влияние аффекта на семантическую организацию значений
                    +e.SPAN.date 2 Апреля

