+b.SECTION.format.wrp
    +e.DIV.cont
        +e.H1.title Форматы работы с пациентами
        +e.UL.list
            +e.LI.item
                +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.H4.lil-title Психодиагностика
                    +e.P.text Выявление психических свойств личности, существенных для определенных видов социально значимой деятельности и поведения, Выявления критериальных показателей в критериальном поведении
                    +e.A.link(href="#") Подобрать курс
                        +icon("arr-next")
            +e.LI.item
                +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.H4.lil-title Психодиагностика
                    +e.P.text Выявление психических свойств личности, существенных для определенных видов социально значимой деятельности и поведения, Выявления критериальных показателей в критериальном поведении
                    +e.A.link(href="#") Подобрать курс
                        +icon("arr-next")
            +e.LI.item
                +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.H4.lil-title Психодиагностика
                    +e.P.text Выявление психических свойств личности, существенных для определенных видов социально значимой деятельности и поведения, Выявления критериальных показателей в критериальном поведении
                    +e.A.link(href="#") Подобрать курс
                        +icon("arr-next")
            +e.LI.item
                +e.IMG.img(src="img/group.jpg")
                +e.DIV.text-block
                    +e.H4.lil-title Психодиагностика
                    +e.P.text Выявление психических свойств личности, существенных для определенных видов социально значимой деятельности и поведения, Выявления критериальных показателей в критериальном поведении
                    +e.A.link(href="#") Подобрать курс
                        +icon("arr-next")
