.format
  &__cont
    margin: 84px 0
  &__title
    margin-bottom: 33px
  ul
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  li
    width: 610px
    border-radius: 20px
    box-shadow: 0px 10px 35px 0 rgba(10, 26, 25, 0.09)
    overflow: hidden
    margin-bottom: 30px
    img
      width: 100%
      height: 260px
      object-fit: cover
    div
      padding: 29px 35px 35px 35px
      h4
        margin-bottom: 16px
      a
        font-size: 14px
        text-transform: uppercase
        color: $main-col
        margin-top: 20px
        text-decoration: none
        font-weight: bold
        &:hover
          color: $main-col-med
        svg
          margin-left: 10px

