+b.SECTION.info.wrp
    +e.UL.list
        +e.LI.item
            +icon("practice", "sprite")
            +e.H5.title Частная практика
            +e.P.text Более 3500 часов индивидуальной и групповой работы
        +e.LI.item
            +icon("individual", "sprite")
            +e.H5.title Индивидуальный подход
            +e.P.text Особый подбор трансовых упражнений для решения конкретной проблемы
        +e.LI.item
            +icon("conf", "sprite")
            +e.H5.title Конфиденциальность
            +e.P.text Индивидуальное занятие проходит совершенно анонимно
