.modal
  max-width: 414px
  margin: 40px auto
  position: relative

  &__form, &__box
    text-align: center
    padding: 50px 40px
    border-radius: 20px
    background: $main-col
    box-shadow: 0px 5px 24px 0 rgba(47, 204, 198, 0.3)

  &__title
    padding-bottom: 20px
    display: block
    color: #fff
    font-size: 26px
    text-transform: uppercase
    letter-spacing: 3px
    line-height: 1.3
    +r($note)
      font-size: 20px
    +r($mobile)
      font-size: 16px
  &__lev
    margin-bottom: 17px
    position: relative
    &.form-correct
      +psevdo
      &:before
        width: 10px
        height: 20px
        border-bottom: solid 2px $form-border-correct
        border-right: solid 2px $form-border-correct
        transform: rotate(45deg)
        top: 0
        bottom: 10px
        right: 35px
        margin: auto
        +r($note)
          right: 25px
      input
        border: solid 2px $form-border-correct
    &.form-err
      +psevdo
      &:before, &:after
        display: none
        width: 20px
        height: 2px
        background: $form-border-err
        top: 0
        bottom: 0
        right: 35px
        margin: auto
        +r($note)
          right: 20px
      &:before
        transform: rotate(45deg)
      &:after
        transform: rotate(-45deg)
      input
        border: solid 2px $form-border-err

  &__reg
    margin-top: 30px
    font-size: 14px
    color: #fff
    text-transform: uppercase
    letter-spacing: 3px
    cursor: pointer
    text-decoration: none
    +psevdo
    &:before
      left: 0
      right: 0
      bottom: -3px
      height: 2px
      background-color: $form-border
      transition: background-color .3s ease
    &:hover
      color: #fff
      &:before
        background-color: #fff
  &__text
    font-size: 14px
    color: #fff
    text-transform: uppercase
    line-height: 1.5

  &__link
    color: #fff
    border: solid 2px $form-border
    margin: 0 auto 10px
    width: 100% !important
    &:hover
      background: $main-col-med

// mfp

.mfp-close-btn-in .mfp-close
  color: #fff
  top: 10px
  right: 10px
  opacity: 1

.my-mfp-animate .mfp-close
  color: #fff
  top: 10px
  right: 10px
  opacity: 1

.my-mfp-video .mfp-close
  font-size: 38px
  color: $main-col
  opacity: 1
  right: 0
  top: -50px

.mfp-bg
  background: #fff

// popup animation

.my-mfp-animate .modal, .my-mfp-animate .modal-test
  opacity: 0
  transform: scale(.8)
  +tr

.my-mfp-animate.mfp-ready .modal, .my-mfp-animate.mfp-ready .modal-test
  opacity: 1
  transform: scale(1)

.my-mfp-animate.mfp-removing .modal, .my-mfp-animate.mfp-removing .modal-test
  opacity: 0
  transform: scale(.8)

// bg animation

.my-mfp-animate.mfp-bg, .my-mfp-video.mfp-bg
  opacity: 0
  transition: opacity .3s ease-out

.my-mfp-animate.mfp-ready.mfp-bg, .my-mfp-video.mfp-ready.mfp-bg
  opacity: .8

.my-mfp-animate.mfp-removing.mfp-bg, .my-mfp-video.mfp-removing.mfp-bg
  opacity: 0

//// test-modal
//
//.modal-test
//  padding: 62px 73px
//  background: #fff
//  border-radius: 20px
//  box-shadow: 0 17px 35px 0 rgba(10, 26, 25, 0.3)
//  .mfp-close
//    color: $main-col
//  &__title
//    margin-bottom: 20px
//  &__form
//    padding: 50px 40px
//    border-radius: 20px
//    background: $main-col
//    box-shadow: 0px 5px 24px 0 rgba(47, 204, 198, 0.3)
//
//    &_main-info
//      display: flex
//      justify-content: space-between
//  &__block
//    max-width: 35%
//    display: flex
//    flex-direction: column
//    justify-content: space-between
//    flex-grow: 1
//    margin-left: 20px
//    &:first-child
//      margin-right: 0
//    &:last-child
//      margin-left: 30px
//
//  &__input
//    margin-bottom: 20px
//    &_work
//      margin-bottom: 0
//  &__btn
//    background: #fff
//    color: $main-col
//    height: 67px
//    width: auto
//    &:hover
//      border: solid 2px #fff
//    &_prev
//      background: $main-col
//      border: solid 2px #fff
//      color: #fff
//      margin-right: 20px
//      svg
//        right: auto
//        left: 35px
//        fill: #fff
//
//  &__text
//    color: #fff
//    font-size: 18px
//    text-transform: uppercase
//  &__answer-block
//    margin-top: 20px
//    display: flex
//  &__btn-block
//    flex-grow: 1
//    display: flex
//    height: 120px
//    align-items: flex-end
//    justify-content: space-between
//    margin-left: 40px
//    a
//      width: 100%
//
//// custom-select
//
//.custom-select
//  position: relative
//  +main-font
//  font-size: 16px
//  font-weight: bold
//  text-transform: uppercase
//  &__select
//    display: none
//
//.select-selected
//  background-color: $main-col
//  border: solid 2px $form-border!important
//  border-radius: 50px
//  opacity: .8
//  +tr
//  +psevdo
//  &:before, &:after
//    width: 15px
//    height: 15px
//    right: 35px
//    top: 0
//    bottom: 7px
//    margin: auto
//    transform: rotate(45deg)
//    transition: right .3s ease
//  &:before
//    border-bottom: solid 2px #fff
//  &:after
//    border-right: solid 2px #fff
//  &.select-arrow-active
//    border-radius: 40px 40px 0 0
//    &:before
//      right: 27px
//    &:after
//      right: 44px
//  &.col
//    opacity: 1
//
//.select-items
//  border-radius: 0 0 40px 40px
//  border: solid 2px $form-border
//  border-top: none
//
//.select-items div, .select-selected
//  color: #ffffff
//  padding: 24px 50px
//  border-bottom: solid 1px rgba(#000, .1)
//  cursor: pointer
//  &:last-child
//    border-radius: 0 0 40px 40px
//    border-bottom: none
//
//.select-items
//  position: absolute
//  background-color: $main-col
//  top: 100%
//  left: 0
//  right: 0
//  z-index: 99
//
//.select-hide
//  display: none
//.select-items div:hover, .same-as-selected
//  background-color: rgba(0, 0, 0, 0.1)
//
//// custom-radio-btn
//
//.custom-radio
//  font-size: 30px
//  padding-left: 10px
//  &__title
//    color: #fff
//    margin-bottom: 10px
//  &__label
//    margin-right: 10px
//    display: inline-block
//    position: relative
//    padding-left: 40px
//    cursor: pointer
//    font-size: 18px
//    line-height: 25px
//    user-select: none
//    color: #fff
//    input:checked ~ .custom-radio__mask
//      border: solid 6px #fff
//  &__input
//    position: absolute
//    cursor: pointer
//    opacity: 0
//  &__mask
//    position: absolute
//    top: 0
//    left: 0
//    height: 25px
//    width: 25px
//    border-radius: 50%
//    border: solid 2px $form-border
