.modal
  //display: none
  //position: fixed
  //background: rgba(#fff, .7)
  //top: 0
  //right: 0
  //bottom: 0
  //left: 0
  //z-index: 1000
  //overflow: hidden
  +bb
  max-width: 414px

  &__cont

  &__box
    +b
    +vcenter
    text-align: center
    padding: 50px 40px

    border-radius: 20px
    position: relative
    background: $main-col
  &__close-btn
    cursor: pointer
    position: absolute
    top: 20px
    right: 20px
    svg
      fill: #fff
      width: 20px
      height: 20px
  &__title
    padding-bottom: 20px
    display: block
    color: #fff
    font-size: 26px
    text-transform: uppercase
    letter-spacing: 3px
    line-height: 1.3
  &__input
    margin-bottom: 17px
  &__reg
    margin-top: 30px
    font-size: 14px
    color: #fff
    text-transform: uppercase
    letter-spacing: 3px
    cursor: pointer
    +psevdo
    &:before
      left: 0
      right: 0
      bottom: -3px
      height: 2px
      background-color: $form-border
      transition: background-color .3s ease
    &:hover
      color: #fff
      &:before
        background-color: #fff
  &__text
    font-size: 14px
    color: #fff
    text-transform: uppercase
    line-height: 1.5

.mfp-bg
  background: #fff
  opacity: .7
