.hidden#modal
    +b.DIV.hero-callback
        +e.DIV.container
            +e.SPAN.title
                | Закажите обратный звонок,
                br
                | чтобы узнать подробнее
            +e.FORM.form.callback-form
                +e.DIV.input-block.hero-callback__input-block_name
                    +e.INPUT.input(type='text' placeholder='Ваше имя')
                +e.DIV.input-block.hero-callback__input-block_phone
                    +e.INPUT.input.callback-input(type='text' name="phone" placeholder='Ваш номер телефона')
                +e.DIV.submit-block
                    +e.INPUT.submit(type='submit' value='Заказать звонок')


+b.DIV.modal#modal-enter
    +e.FORM.box
        +e.A.close-btn
            +icon("cancel", "sprite")
        +e.SPAN.title Войти
        +e.INPUT.input.form-inp(type="e-mail" placeholder="e-mail")
        +e.INPUT.input.form-inp(type="password" placeholder="пароль")
        +e.BUTTON.button.form-btn(type="submit") Войти
        +e.A.reg#reg регистрация

+b.DIV.modal#modal-reg
    +e.DIV.cont
        +e.FORM.box
            +e.A.close-btn
                +icon("cancel", "sprite")
            +e.SPAN.title Регистрация
            +e.INPUT.input.form-inp(type="e-mail" placeholder="e-mail")
            +e.INPUT.input.form-inp(type="password" placeholder="пароль")
            +e.BUTTON.button.form-btn(type="submit") Зарегестрироваться

+b.DIV.modal#modal-success
    +e.DIV.cont
        +e.DIV.box
            +e.A.close-btn
                +icon("cancel", "sprite")
            +e.SPAN.title Ваша заявка принята
            +e.SPAN.text
                | Вам перезвонят в
                br
                | течении 2 минут

+b.DIV.modal#modal-appointment
    +e.DIV.cont
        +e.FORM.box
            +e.A.close-btn
                +icon("cancel", "sprite")
            +e.SPAN.title Записаться
            input(type="hidden" value="individual")
            +e.INPUT.input.form-inp(type="e-mail" placeholder="e-mail")
            +e.INPUT.input.form-inp(type="password" placeholder="пароль")
            +e.BUTTON.button.form-btn(type="submit") Записаться
