.agreement
  padding: 84px 0
  +r($note)
    padding: 40px 0
  &__top-block
    margin-bottom: 50px
    +r($note)
      margin-bottom: 20px
  &__pdf
    display: flex
    align-items: center
    svg
      width: 20px
      height: 30px
    span
      padding-left: 20px
      font-size: 20px
  &__box
    overflow-x: scroll

  &__content-block
    margin: 40px 0
    line-height: 1.5
    *
      letter-spacing: normal
    li
      padding: 10px 0
    +r(950)
      width: 920px

.agreement-form-block
  margin-top: 30px
  &__head
    p:last-child
      text-align: right
  &__content
    margin-top: 30px
    table
      background-color: transparent
      border-collapse: collapse
      border-spacing: 0
      max-width: 100%
      margin-bottom: 1em
      margin-top: 20px
      th, td
        border: 1px solid #333
        padding: 5px 10px
        vertical-align: top
  .double
    width: 100%
  .col
    width: 50%
    & > p
      min-height: 30px
  hr
    border-bottom: solid 1px #000
    margin: 0
