.students
  padding-top: 85px
  +r($note)
    padding-top: 40px

  &__top-block
    margin-bottom: 90px
    +r($note)
      margin-bottom: 40px
  &__main-block
    background: $bg-gray
    padding: 48px 0 87px
    +r($note)
      padding: 40px 0
  &__cont
    display: flex
    justify-content: space-between
    +r(860)
      flex-direction: column
  &__btn-list
    +r(860)
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      margin-bottom: 20px
  &__btn-item
    width: 358px
    margin: 0 0 25px 0
    +tr
    &:last-child
      margin: 0
    &:hover
      background: #fff
      color: #000
      border: solid 2px $main-col-dark
    &.active
      background: $main-col-med
      color: #fff
    +r(860)
      margin: 0 10px 15px 10px
      width: auto
      flex-grow: 1

  // - - - - -

  &__pdf-block
    flex-grow: 1
    background: #fff
    border-radius: 20px
    box-shadow: 0 17px 35px 0 rgba(10, 26, 25, 0.07)
    margin-left: 30px
    +r(860)
      margin-left: 0
  &__box
    padding: 50px 60px
    display: none
    flex-direction: column
    align-items: flex-start
    &.active
      display: flex
    +r($mobile)
      padding: 20px 25px
  &__items-hiding
    margin-left: 30px
    display: none
    +r($tablet)
      margin-left: 0

  &__pdf-title
    display: inline-block
    margin: 30px 0 20px
    cursor: pointer

    +tr
    +psevdo
    &:before, &:after
      width: 15px
      height: 15px
      right: -35px
      top: -3px
      transform: rotate(45deg)
      transition: right .5s ease
    &:before
      border-bottom: solid 2px $main-col
    &:after
      border-right: solid 2px $main-col
    &.active
      &:before
        right: -46px
      &:after
        right: -28px
    &:hover
      color: $main-col

  &__item
    display: flex
    align-items: center
    margin: 25px 0
    font-size: 18px
    position: relative
    +r($tablet)
      font-size: 14px
      margin: 15px 0
    .pdf
      position: absolute
      top: 0
      bottom: 0
      left: 0
      margin: auto
      width: 22px
      height: 29px
      fill: $main-col
      +r($tablet)
        width: 15px
        height: 17px
    span
      margin-left: 40px
      +r($tablet)
        margin-left: 30px
