+b.SECTION.diplom-slider
    +e.DIV.title-block.wrp
        +e.H2.title Образование
        +e.DIV.arrs
    +e.DIV.cont
        +e.DIV.slider
            a(href="img/diplom.jpg")
                div
                    img(src="img/diplom.jpg")
                    p Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            a(href="img/diplom.jpg")
                div
                    img(src="img/diplom.jpg")
                    p Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            a(href="img/diplom.jpg")
                div
                    img(src="img/diplom.jpg")
                    p Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            a(href="img/diplom.jpg")
                div
                    img(src="img/diplom.jpg")
                    p Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            a(href="img/diplom.jpg")
                div
                    img(src="img/diplom.jpg")
                    p Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            a(href="img/diplom.jpg")
                div
                    img(src="img/diplom.jpg")
                    p Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
