+b.SECTION.diplom-slider
    +e.DIV.title-block.wrp
        +e.H2.title Образование
        +e.DIV.arrs
    +e.DIV.cont
        +e.DIV.slider
            +e.DIV.box
                +e.DIV.item
                    +e.IMG.img(src="img/diplom.jpg")
                    +e.P.text Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            +e.DIV.box
                +e.DIV.item
                    +e.IMG.img(src="img/diplom.jpg")
                    +e.P.text Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            +e.DIV.box
                +e.DIV.item
                    +e.IMG.img(src="img/diplom.jpg")
                    +e.P.text Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            +e.DIV.box
                +e.DIV.item
                    +e.IMG.img(src="img/diplom.jpg")
                    +e.P.text Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            +e.DIV.box
                +e.DIV.item
                    +e.IMG.img(src="img/diplom.jpg")
                    +e.P.text Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)
            +e.DIV.box
                +e.DIV.item
                    +e.IMG.img(src="img/diplom.jpg")
                    +e.P.text Психолог. Преподаватель психологии (МГУ имени М.В. Ломоносова)

