.diplom-slider
  margin: 84px 0
  +r($note)
    margin: 40px 0
  &__cont
    max-width: 1290px
    margin: auto
  &__title-block
    margin-bottom: 43px
    display: flex
    justify-content: space-between
    align-items: center
    +r($mobile)
      margin-bottom: 20px
      h2
        font-size: 16px
  &__slider
    span
      padding: 0 15px
      display: block
    img
      width: 100%
      height: auto
      object-fit: contain
    p
      font-size: 14px
      margin-top: 20px
      +r($mobile)
        font-size: 12px