+b.SECTION.callback
    +e.DIV.wrp.wrp
        +e.DIV.text-block
            +e.SPAN.title Оформите заявку сейчас и получите 10% скидку на первую встречу
            +e.SPAN.text Наш менеджер перезвонит вам в течение 2 минут
        +e.FORM.form
            +e.INPUT.input.form-inp(type="text" name="phone" placeholder="Ваш телефон")
            +e.BUTTON.button.form-btn(type="submit") Записаться на прием
