.callback
  background: $main-col
  padding: 45px 0
  box-shadow: 0px 5px 24px 0 rgba(47, 204, 198, 0.3)
  &__wrp
    display: flex
    justify-content: space-between
  &__text-block
    color: #fff
    max-width: 720px
  &__title
    font-size: 26px
    letter-spacing: 4px
    text-transform: uppercase
    line-height: 1.2
    margin-bottom: 27px
    display: block
  &__text
    font-size: 20px
    display: block
  &__form
    width: 480px
  &__input
    margin-bottom: 20px
