extends ../template

block variables
    - var title = '404'
    - var bodyFlex = true

block content

    include ../layout/header

    +b.MAIN.err404(class=bodyFlex ? 'main-flex' : '')
        span 404

    include ../layout/footer
