extends ../template

block variables
    - var title = 'Agreement'
    - var bodyFlex = true

block content

    include ../layout/header

    +b.MAIN.agreement(class=bodyFlex ? 'main-flex' : '')
        +e.DIV.cont.wrp
            +e.DIV.top-block
                +b.DIV.breadcrumbs
                    a(href="/") Главная
                    span /
                    a Публичная оферта
                +e.H1.title Публичная оферта
            +e.A.pdf(href="#" download)
                +icon("pdf", "sprite")
                span Скачать PDF

            +e.DIV.box
                +e.DIV.content-block
                    ul
                        li
                            | 1. Основные понятия, используемые для целей настоящего Договора:
                            br
                            | Исполнитель
                            br
                            | — Индивидуальный предприниматель Шуст Надежда Михайловна (ИНН: 771991897094; ОГРНИП: 317774600108193)
                            br
                            | Сайт https://shust.me/ (далее — «Сайт»)
                            br
                            | — система связанных между собой веб-страниц, обеспечивающая возможность заказа
                            | оказания Услуг психологического консультирования, сбора данных для оказания
                            | Услуг, предоставления выбора вида оказания Услуг, выбора способа оплаты
                            | Услуг, и т.д.
                            br
                            | Заказ
                            br
                            | — информация, отправленная Заказчиком Исполнителю с помощью раздела сайта
                            | «Контакты», расположенного по адресу: https://shust.me/contacts.html, с
                            | целью проведения консультативной встречи и заключения договора оказания
                            | услуг психологического консультирования с Исполнителем.
                            br
                            | Заказчик
                            br
                            | — физическое лицо, разместившее Заказ с помощью Сайта и принимающее условия
                            | настоящего Договора, а также заключившее с Исполнителем договор оказания
                            | услуг психологического консультирования.
                            br
                            | Посетитель Сайта
                            br
                            | — лицо, пришедшее на Сайт без цели размещения Заказа.
                            br
                            | Консультативная встреча
                            br
                            | — первая встреча Исполнителя и Заказчика с целью определения сроков, порядка
                            | и условий оказания Услуг и подписания Приложения к настоящему Договору,
                            | с отражением согласованных условий оказания Услуг на встрече.
                            br
                            | Приложение
                            br
                            | — соглашение Заказчика и Исполнителя, подписанное по форме, согласованной
                            | в разделе 12 настоящего Договора. Без подписанного Приложения, настоящая
                            | Оферта не является акцептированной.
                            br
                            | Услуги
                            br
                            | — психологическое консультирование в форме проведения сеансов психологической
                            | коррекции, осуществляемое Исполнителем в порядке и на условиях настоящего
                            | Договора, проводимого в формате индивидуальных сеансов в количестве 12
                            | штук или в форме групповых сеансов в количестве 12 штук.


                        li 2. Предмет договора
                        li
                            | 2.1. 
                            | Настоящий договор являются публичной
                            | офертой, в соответствии со ст. 435 и п. 2 ст. 437 Гражданского кодекса
                            |           Российской Федерации, Индивидуального предпринимателя Шуст Надежды Михайловны
                            |           (далее — «Исполнитель») физическим лицам (далее — «Заказчик») заключить
                            |           Договор оказания услуг психологического консультирования (далее – «Услуги»)
                            |           посредством Сайта https://shust.me/ (далее — «Договор») и содержит порядок
                            |           и условия оказания Услуг психологического консультирования, а также иные
                            |           существенные условия. По настоящему Договору Исполнитель по заданию Заказчика
                            |           обязуется оказать Услуги, а Заказчик обязуется принять и оплатить Услуги
                            |           на условиях и в порядке, предусмотренном в настоящем Договоре и Приложениях
                            |           к нему.
                        li
                            | 2.2. 
                            | Условия настоящего Договора могут
                            |           быть в любой момент изменены Исполнителем в одностороннем порядке, изменения
                            |           условий настоящего Договора вступают в силу с момента размещения внесенных
                            |           изменений на Сайте.
                        li
                            | 2.3. 
                            | Настоящий Договор является договором
                            |           присоединения, заключение настоящего Договора происходит в порядке ст.
                            |           428 ГК РФ. Акцептом настоящей Оферты признаются следующие действия Заказчика
                            |           в совокупности: размещение Заказа на Сайте, подписание Приложения к настоящему
                            |           Договору, и оплата Услуг Исполнителя. Акцептом настоящей оферты также признается
                            |           подписание Приложения к настоящему Договору.
                        li
                            | 2.4. 
                            | Применимым правом по настоящему Договору
                            |           является право Российской Федерации. Отношения сторон настоящего Договора
                            |           регулируются законодательством Российской федерации, настоящим Договором,
                            |           обычаями делового оборота.
                        li
                            | 2.5. 
                            | Для оказания Услуг по настоящему
                            |           Договору Исполнитель имеет право привлекать третьих лиц, оставаясь ответственным
                            |           перед Заказчиком за исполнение настоящего Договора.
                        li
                            | 3. 
                            | Порядок оказания услуг
                        li
                            | 3.1. 
                            | Заказчик размещает Заказ на Сайте,
                            |           с указанием своего имени, адреса электронной почты, номера телефона и примерным
                            |           описанием предмета Консультативной встречи.
                        li
                            | 3.2. 
                            | После совершения Заказчиком действий,
                            |           указанных в п. 3.1. настоящего Договора, Исполнитель связывается с Заказчиком
                            |           по контактным данным, указанным в Заказе и согласовывает с Заказчиком дату
                            |           проведения Консультативной встречи.

                        li
                            | 3.3. 
                            | По итогам Консультативной встречи
                            |           Заказчик и Исполнитель подписывают Приложение к настоящему Договору, по
                            |           форме, приведенной в разделе 12 настоящего Договора.
                        li
                            | 3.4. 
                            | После размещения Заказа, проведения
                            |           Консультативной встречи и подписания Приложения к настоящему Договору,
                            |           Заказчик может произвести оплату Услуг Исполнителя, перечисленных в Приложении,
                            |           любым из способов, предложенных на Сайте в разделе «Оплата», расположенного
                            |           по адресу: https://shust.me/oplata.html, в порядке и на условиях, указанных
                            |           в разделе 4 настоящего Договора.
                        li
                            | 3.5. 
                            | Исполнитель приступает к оказанию
                            |           Услуг после подписания Сторонами Приложения к настоящему Договору и исполнения
                            |           Заказчиком обязанности по оплате Услуг Исполнителя в сроки и в порядке,
                            |           согласованном в настоящем Договоре и Приложениях к настоящему Договору.
                        li
                            | 3.6. 
                            | Срок оказания Услуг определяется
                            |           Сторонами в Приложении к настоящему Договору.
                        li
                            | 3.7. 
                            | Местом оказания Услуг является помещение,
                            |           предоставляемое Исполнителем, расположенное по адресу: г. Москва, Мясницкая
                            |           улица, дом 30/1/2, строение 1, кабинет 25. Иное место оказания услуг может
                            |           быть согласовано Сторонами в Приложении к настоящему Договору.
                        li
                            | 3.8. 
                            | По результатам Консультативной встречи
                            |           Стороны согласовывают в Приложении формат оказания услуг: 1. Индивидуальная
                            |           психологическая коррекция (далее также — «сеансы») 2. Групповая психологическая
                            |           коррекция (далее также «сеансы»).
                        li
                            | 3.9. 
                            | Исполнитель вправе отказаться от
                            |           оказания Услуг в случае отсутствия у Исполнителя возможности оказать Услуги
                            |           Заказчику и в иных случаях, предусмотренных действующим законодательством
                            |           Российской Федерации.
                        li
                            | 3.10. 
                            | Услуги оказываются только в количестве
                            |           12 консультаций, график проведения которых согласовывается в Приложении
                            |           к настоящему Договору, если иное не согласовано в Приложении к настоящему
                            |           Договору.
                        li 4. Стоимость услуг и порядок расчетов
                        li
                            | 4.1. 
                            | Стоимость услуг определяется на основе
                            |           цен, принятых у Исполнителя и указывается в Приложении к настоящему Договору,
                            |           подписываемому Сторонами. Исполнитель вправе в одностороннем порядке в
                            |           любой момент изменить цены на Услуги. Изменения цен на Услуги вступает
                            |           в силу с момента их размещения на Сайте в разделе «Оплата», расположенного
                            |           по адресу: https://shust.me/oplata.html. Изменение цен на Услуги не распространяется
                            |           на стоимость Услуг, Заказ по которым принять Исполнителем к исполнению.
                            |           Цены на Услуги Исполнителя указаны на Сайте в разделе «Оплата», расположенного
                            |           по адресу: https://shust.me/oplata.html. Стоимость Услуг указывается в
                            |           Приложении отдельно для каждого сеанса психологического консультирования
                            |           в зависимости от темы сеанса и методов применяемых Исполнителем.
                        li
                            | 4.2. 
                            | Заказчик оплачивает Услуги Исполнителя
                            |           в порядке 100% предоплаты, одним из способов, указанных на Сайте в разделе
                            |           «Оплата», расположенного по адресу: https://shust.me/oplata.html.
                        li
                            | 4.2.1. 
                            | Моментом расчета при оплате
                            |               банковской картой принимается рабочий день, следующий за днем оплаты.
                            |               Рабочий день – с 09:00 до 22:00 по московскому времени.
                        li
                            | 4.3. 
                            | В случае отказа Исполнителя от оказания
                            |           Услуг, по основаниям, указанным в п. 3.9. настоящего Договора, Исполнитель
                            |           в течение 10 (десяти) дней возвращает Заказчику уплаченные в качестве предоплаты
                            |           денежные средства, по реквизитам, указанным Заказчиком в подписанном Сторонами
                            |           Приложении к настоящему Договору.
                        li
                            | 4.4. 
                            | В случае согласования Сторонами в
                            |           Приложении к настоящему Договору места оказания Услуг отличного от места,
                            |           указанного в п. 3.7. настоящего Договора, стоимость оказания Услуг изменяется
                            |           в соответствии со следующими условиями: 1. В случае если время в пути от
                            |           адреса, указанного в п. 3.7. настоящего Договора до места оказания Услуг,
                            |           указанного Заказчиком и согласованном в Приложении к настоящему Договору
                            |           составляет менее 30 минут, то цены, указанные на Сайте увеличиваются в
                            |           полтора раза. 2. В случае если время в пути от адреса, указанного в п.
                            |           3.7. настоящего Договора до места оказания Услуг, указанного Заказчиком
                            |           и согласованном в Приложении к настоящему Договору составляет более 30
                            |           минут и менее 60 минут, то цены, указанные на Сайте увеличиваются в два
                            |           раза.
                        li 5. Права и обязанности Сторон:
                        li
                            | 5.1. 
                            | Заказчик обязуется:
                        li
                            | 5.1.1. 
                            | Принимать и оплачивать услуги
                            |               Исполнителя в порядке, согласованном в настоящем Договоре.
                        li
                            | 5.1.2. 
                            | Использовать Сайт Исполнителя
                            |               только в соответствии с действующим законодательством Российской Федерации,
                            |               по прямому назначению, а также самостоятельно знакомится со всеми условиями
                            |               оказания Услуг.
                        li
                            | 5.1.3. 
                            | В случае отказа от настоящего
                            |               Договора, уведомить об этом Исполнителя по контактным данным, указанным
                            |               на Сайте Исполнителя и/или в Приложении к настоящему Договору.
                        li 5.2. Заказчик имеет право:
                        li 5.2.1. Получать информацию о порядке, условиях, стоимости оказания Услуг.
                        li
                            | 5.2.2. 
                            | Заказчик не имеет права разглашать
                            |               содержание сеансов психологической коррекции третьим лицам и иным участникам
                            |               сеансов психологической коррекции.
                        li 5.3. Исполнитель обязуется:
                        li
                            | 5.3.1. 
                            | Оказать Заказчику Услуги в
                            |               полном объеме, надлежащим образом и в сроки, согласно условиям настоящего
                            |               Договора и Приложения к нему.
                        li
                            | 5.3.2. 
                            | Поддерживать Сайт в рабочем
                            |               состоянии, обеспечивать Заказчику бесперебойный доступ к сервисам Сайта,
                            |               устранять любые неполадки в работе Сайта в максимально короткие сроки.
                        li
                            | 5.3.3. 
                            | Соглашаясь с условиями настоящего
                            |               Договора и совершая акцепт настоящей Оферты, Заказчик дает свое согласие
                            |               на обработку Исполнителем его персональных данных в соответствии с
                            |               ФЗ «О персональных данных» № 152-ФЗ от 27.07.2006 года. Исполнитель
                            |               обязуется обрабатывать персональные данные Заказчика строго в соответствии
                            |               с действующим законодательством и для целей исполнения обязательств
                            |               по настоящему Договору. Исполнитель имеет право передавать персональные
                            |               данные Заказчика только с его письменного согласия или в случаях предусмотренных
                            |               действующим законодательством Российской Федерации.
                        li
                            | 5.4. 
                            | Исполнитель имеет право:
                        li
                            | 5.4.1. 
                            | Не приступать к оказанию Услуг,
                            |               до момента исполнения Заказчиком обязанности по оплате Услуг Исполнителя
                            |               в порядке предусмотренном в настоящем Договоре.
                        li
                            | 5.4.2. 
                            | Отказаться от настоящего Договора
                            |               в соответствии с действующим законодательством Российской Федерации.
                        li
                            | 5.4.3. 
                            | Отменить или перенести сеанс
                            |               психологического консультирования, указанный в графике оказания Услуг,
                            |               согласованном в Приложении к настоящему Договору, уведомив об этом
                            |               Заказчика по контактным данным, указанным в Заказе или в Приложении
                            |               к настоящему Договору. В случае отмены сеанса психологического консультирования
                            |               в порядке, предусмотренном в настоящем пункте, Исполнитель согласовывает
                            |               с Заказчиком новую дату проведения отмененного сеанса, без взимания
                            |               с Заказчика дополнительной оплаты.
                        li
                            | 5.4.4. 
                            | Исполнитель имеет право отказаться
                            |               от оказания Услуг Заказчику в следующий случаях:
                        li
                            | 5.4.4.1. 
                            | Групповая психологическая
                            |                   коррекция:
                            br
                            | - в случае 4 (четырех) и более опозданий Заказчика на сеанс, в
                            | течение всех сеансов, оплаченных Заказчиком;
                            br
                            | - в случае 4 (четырех) и более пропусков Заказчиком сеансов, в
                            | течение всех сеансов, оплаченных Заказчиком;
                            br
                            | - в случае проявления агрессии в любой форме в отношении Исполнителя
                            | и/или других участников сеансов;
                            br
                            | - за систематический отказ от выполнения указаний (инструкций),
                            | являющихся частью психологической коррекции, во время проведения
                            | сеансов;
                            br
                            | - за разглашение содержания сеансов психологической коррекции третьим
                            | лицам или иным участникам сеансов психологической коррекции;
                        li
                            | 5.4.4.2. 
                            | Индивидуальная психологическая
                            |                   коррекция:
                            br
                            | - в случае проявления агрессии в любой форме в отношении Исполнителя;
                            br
                            | - за систематический отказ от выполнения указаний (инструкций),
                            | являющихся частью психологической коррекции, во время проведения
                            | сеансов;
                            br
                            | - в случае если Заказчик отменил сеанс не менее 4 (четырех) раз,
                            | менее чем за два часа до его начала, время которого согласовывается
                            | в Приложении к настоящему Договору.
                        li
                            | В случае отказа Исполнителя от оказания Услуг, по основаниям, указанным
                            | в п. 5.4.4. настоящего Договора, Исполнитель возвращает Заказчику
                            | денежные средства, уплаченные в порядке предоплаты Заказчиком,
                            | в порядке п. 4.3. настоящего Договора, за вычетом стоимости фактически
                            | оказанных Исполнителем Услуг.
                        li 6. Ответственность сторон
                        li
                            | 6.1. 
                            | За невыполнение или ненадлежащее
                            |           выполнение обязательств по настоящему Договору Стороны несут ответственность
                            |           согласно действующему законодательству РФ.
                        li
                            | 6.2. 
                            | Исполнитель не несет ответственности
                            |           за сбои в работе Сайта, возникшие не по вине Исполнителя.
                        li
                            | 7. 
                            | Порядок изменения, переноса сроков оказания Услуг и графика проведения сеансов
                            |       психологического консультирования и возврата денежных средств
                        li
                            | 7.1. 
                            | Индивидуальное психологическое консультирование:
                        li
                            | 7.1.1. 
                            | В случае отказа Заказчика от
                            |               настоящего Договора, Исполнитель обязуется возвратить Заказчику денежные
                            |               средства, уплаченные в качестве предоплаты, за вычетом суммы понесенных
                            |               расходов Исполнителем и стоимости фактически оказанных Услуг Исполнителем
                            |               в течение 10 (десяти) дней по реквизитам, указанным Заказчиком в Приложении
                            |               к настоящему Договору.
                        li
                            | 7.1.2. 
                            | В случае отмены или переноса
                            |               Заказчиком сеанса психологического консультирования менее чем за 24
                            |               часа до времени начала этого сеанса, Стороны обязуются либо согласовать
                            |               новую дату и время проведения сеанса, при этом стоимость такого сеанса,
                            |               указанная в Приложении к настоящему Договору, увеличивается на 50%
                            |               (пятьдесят процентов), либо расторгнуть настоящий Договор с удержанием
                            |               полной стоимости этого сеанса из суммы, возвращаемой в соответствии с
                            |               п. 7.1.1.
                        li
                            | 7.1.3. 
                            | В случае отмены или переноса
                            |               Заказчиком сеанса психологического консультирования менее чем за 12
                            |               часов до времени начала этого сеанса, Стороны обязуются либо согласовать
                            |               новую дату и время проведения сеанса, при этом стоимость такого сеанса,
                            |               указанная в Приложении к настоящему Договору, увеличивается на 100%
                            |               (сто процентов), либо расторгнуть настоящий Договор с удержанием
                            |               полной стоимости этого сеанса из суммы, возвращаемой в соответствии с
                            |               п. 7.1.1.
                        li
                            | 7.2. 
                            | Групповое психологическое консультирование:
                        li
                            | 7.2.1. 
                            | В случае пропуска Заказчиком
                            |               сеанса психологического консультирования, денежные средства, уплаченные
                            |               за этот сеанс Заказчику не возвращаются.
                        li
                            | 7.2.2. 
                            | В случае отказа Заказчика от
                            |               настоящего Договора или расторжения настоящего Договора по инициативе
                            |               Исполнителя, Исполнитель обязуется возвратить Заказчику денежные средства,
                            |               уплаченные в качестве предоплаты, за вычетом суммы понесенных расходов
                            |               Исполнителем и стоимости фактически оказанных Услуг Исполнителем в
                            |               течение 10 (десяти) дней по реквизитам, указанным Заказчиком в Приложении
                            |               к настоящему Договору.
                        li
                            | 7.2.3. 
                            | Сроки оказания услуг и график
                            |               сеансов психологического консультирования для групповых сеансов, согласованный
                            |               Сторонами в Приложении к настоящему Договору, изменению не подлежит.
                        li 8. Порядок разрешения споров
                        li
                            | 8.1. 
                            | Все споры по настоящему Договору разрешаются
                            |           путем переговоров. Для сторон обязателен претензионный порядок урегулирования
                            |           споров.
                        li
                            | 8.2. 
                            | Сторона получившая претензию, обязана
                            |           дать ответ на нее в течение 30 (тридцати) дней с момента получения.
                        li
                            | 8.3. 
                            | Претензии направляются по контактным
                            |           данным Заказчика, указанным в Личном кабинете Заказчика, по контактным
                            |           данным Исполнителя, указанным в настоящем Договоре или на Сайте.
                        li
                            | 8.4. 
                            | Споры и разногласия Сторон по Договору
                            |           передаются на рассмотрение суд общей юрисдикции в соответствии с действующим
                            |           законодательством Российской Федерации.
                        li
                            | 9. 
                            | Обстоятельства непреодолимой силы (форс-мажор)
                        li
                            | 9.1. 
                            | Сторона, не исполнившая или ненадлежащим
                            |           образом исполнившая свои обязательства по Договору, несет ответственность,
                            |           если не докажет, что надлежащее исполнение обязательств оказалось невозможным
                            |           вследствие непреодолимой силы (форс-мажор), то есть чрезвычайных и непредотвратимых
                            |           обстоятельств при конкретных условиях конкретного периода времени, которая
                            |           ни одна из Сторон не могла ни предвидеть, ни предотвратить разумным способом.
                            |           Наличие форс-мажорных обстоятельств должно быть подтверждено уполномоченным
                            |           государственным органом.
                        li
                            | 9.2. 
                            | Неуведомление или несвоевременное
                            |           уведомление Сторон Договора о наступлении форс-мажорных обстоятельств Стороной,
                            |           которая на них ссылается, лишает эту Сторону права ссылаться на них в дальнейшем.
                        li
                            | 9.3. 
                            | Если последствия, вызванные этими
                            |           форс-мажорными обстоятельствами, будут длиться более 30 (Тридцати) календарных
                            |           дней, то Стороны встретятся для обсуждения создавшейся ситуации и принятия
                            |           мер по преодолению создавшейся ситуации, однако если в течение дополнительных
                            |           10 (Десяти) календарных дней Стороны не смогут найти выход из создавшейся
                            |           ситуации, то любая из Сторон вправе требовать расторжения Договора в одностороннем
                            |           порядке. Факты, изложенные в извещении, должны быть подтверждены компетентными
                            |           государственными органами или организациями по месту наступления таких
                            |           обстоятельств.
                        li
                            | 10. 
                            | Срок действия договора и оказания услуг
                        li
                            | 10.1. 
                            | Настоящий договор заключен на неопределённый
                            |           срок.
                        li
                            | 10.2. 
                            | Стороны имеют право отказаться от
                            |           настоящего Договора в одностороннем порядке в порядке, предусмотренном
                            |           действующим законодательством Российской Федерации.
                        li
                            | 11. 
                            | Иные условия
                        li
                            | 11.1. 
                            | Заказчик не имеет права использовать
                            |           содержимое Сайта, товарный знак и другие объекты интеллектуальных прав,
                            |           права на которые принадлежат Исполнителю, без письменного согласия Исполнителя.
                        li
                            | 11.2. 
                            | Контакты Исполнителя:
                        li
                            | 12. 
                            | Форма Приложения к настоящему Договору

                        // main content end

                    +b.DIV.agreement-form-block
                        +e.DIV.head
                            p Форма:
                            p
                                | Приложение №_________
                                |  от «____»___________20___ года
                                br
                                | к Договору присоединения по оказанию услуг психологического
                                br
                                | консультирования,
                                | размещенного на сайте по адресу: https://shust.me/
                        +e.DIV.content
                            p
                                | Гр. Российской федерации_____________________________________________________
                                | (паспорт: серия____ №_________
                                | выдан___________________
                                | , зарегистрирован по адресу:______________________________________________________ ,
                                |     далее именуемый «Заказчик», с одной стороны и Индивидуальный предприниматель
                                |     Шуст Надежда Михайловна, именуемый в дальнейшем «Исполнитель» с другой стороны,
                                |     заключили настоящее приложение (далее — «Приложение») о нижеследующем:
                                br
                                br
                            p
                                | 1. 
                                | Настоящее Приложение является дополнительным
                                |       соглашением к Договору присоединения по оказанию услуг психологического консультирования,
                                |       размещенного на сайте по адресу: https://shust.me/ (далее – «Договор»).
                                br
                                | 2. 
                                | Подписанием настоящего Приложения Заказчик
                                |       соглашается с условиями Договора и безоговорочно принимает их в полном объеме.
                                |       Подписание настоящего Приложения является акцептом оферты, условия которой
                                |       указаны в Договоре.
                                br
                                | 3. 
                                | Стороны согласовали следующий формат оказания
                                |       Услуг: Индивидуальное психологическое консультирование / Групповое психологическое
                                |       консультирование.
                                br
                                | 4. 
                                | Стороны согласовали следующие сроки оказания
                                |       Услуг, график оказания Услуг и стоимость Услуг Исполнителя:
                            p
                                | Срок оказания Услуг: с «____»___________20___
                                |  года по «____»___________20___
                                |  года
                            br
                            br

                            table
                                thead
                                    tr
                                        th Порядковый номер сеанса психологического консультирования
                                        th Дата и время сеанса психологического консультирования
                                        th Стоимость сеанса психологического консультирования
                                tbody
                                    tr
                                        td 1.
                                        td
                                        td
                                    tr
                                        td 2.
                                        td
                                        td
                                    tr
                                        td 3.
                                        td
                                        td
                                    tr
                                        td 4.
                                        td
                                        td
                                    tr
                                        td 5.
                                        td
                                        td
                                    tr
                                        td 6.
                                        td
                                        td
                                    tr
                                        td 7.
                                        td
                                        td
                                    tr
                                        td 8.
                                        td
                                        td
                                    tr
                                        td 9.
                                        td
                                        td
                                    tr
                                        td 10.
                                        td
                                        td
                                    tr
                                        td 11.
                                        td
                                        td
                                    tr
                                        td 12.
                                        td
                                        td
                            p
                                | Общая стоимость Услуг по Договору и приложению составляет_______________(___________________________________________________
                                |  рублей и_____копеек), стоимость Услуг НДС не облагается
                                |     в связи с применением упрощённой системы налогообложения (ст. 346.12 и 346.13
                                |     НК РФ).
                            p
                                | 5. 
                                | Место оказания Услуг:______________________________
                            p
                                | 6. 
                                | Настоящее Приложение составлено в двух экземплярах,
                                |       имеющих одинаковую юридическую силу, по одному экземпляру для каждой из Сторон.

                            table.double
                                tr
                                    td.col
                                        p Заказчик:
                                        p Гр. Российской Федерации /
                                        hr
                                        p
                                        hr
                                        p ИНН
                                        hr
                                        p Паспорт
                                        hr
                                        p
                                        hr
                                        p Место рождения:
                                        hr
                                        p Дата рождения:
                                        hr
                                        p Адрес регистрации:
                                        hr
                                        p
                                        hr
                                        p Почтовый адрес:
                                        hr
                                        p
                                        hr
                                        p Счет №
                                        hr
                                        p в
                                        hr
                                        p к/с №
                                        hr
                                        p БИК
                                        hr
                                        p Электронная почта:
                                        p
                                        hr
                                        p
                                        hr
                                    td.col
                                        p Исполнитель:
                                        p
                                            |Индивидуальный предприниматель
                                            br
                                            | Шуст Надежда Михайловна
                                        p ИНН 771991897094
                                        p ОГРНИП 317774600108193
                                        p Р/с №: 40802810070010021931
                                        p Банк: МОСКОВСКИЙ ФИЛИАЛ АО КБ "МОДУЛЬБАНК"
                                        p БИК: 044525092
                                        p к/с №: 30101810645250000092
                                        br
                                        br
                                        br
                                        br
                                        hr
                                        p
                                            | Индивидуальный предприниматель
                                            br
                                            | Шуст Надежда Михайловна

    include ../layout/footer