extends ../template

block variables
    - var title = 'Contacts'
    - var bodyFlex = true

block content

    +b.HEADER.header
        +b.DIV.header-top
            +e.DIV.nav-block
                +b.DIV.burger
                    +e.A.btn#burger-btn
                        +e.DIV.lines-block
                            +e.SPAN.mid-line
                +b.DIV.sidebar
                    +e.DIV.cont
                        +e.UL.list
                            +e.li.item
                                +e.A.link(href="/") Главная
                            +e.li.item
                                +e.A.link(href="price.html") Цены
                            +e.li.item
                                +e.A.link(href="about.html") Обо мне
                            +e.li.item
                                +e.A.link(href="review-page.html") Отзывы
                            +e.li.item
                                +e.A.link(href="questions.html") Частые вопросы
                            +e.li.item
                                +e.A.link(href="articles-page.html") Полезные статьи
                            +e.li.item
                                +e.A.link(href="students.html") Студентам
                            +e.li.item
                                +e.A.link(href="contacts.html") Контакты
                            +e.li.item
                                +e.A.link(href="session.html") Сеансы
                            +e.li.item
                                +e.A.link(href="about-session.html") Как проходят сеансы
                            +e.li.item
                                +e.A.link_h Разновидности гипноза
                            +e.li.item
                                +e.A.link(href="video.html") Видео
                +e.NAV.nav
                    +e.A.nav-link(href="price.html") Цены
                    +e.A.nav-link(href="about.html") Обо мне
                    +e.A.nav-link(href="review-page.html") Отзывы
                    +e.A.nav-link(href="questions.html") Частые вопросы
                    +e.A.nav-link(href="articles-page.html") Полезные статьи
                    +e.A.nav-link(href="students.html") Студентам
                    +e.A.nav-link(href="contacts.html") Контакты
                +e.A.enter(href="#enter-popup") Войти
            +e.DIV.info-block_contacts
                +b.A.logo-block(href="/")
                    +icon("logo", "sprite")
                    +e.DIV.info
                        +e.SPAN.name Надежда Шуст
                        +e.SPAN.text Клинический психолог
                +b.DIV.layout-info
                    +e.UL.list
                        +e.LI.item_address
                            +e.DIV.link
                                +icon("mark", "sprite")
                                +e.DIV.text-block_address
                                    +e.SPAN.title_address Адрес:
                                    +e.SPAN.text_address г.Москва ул.Мясницкая, дом 30/1/2, строение 1
                        +e.LI.item
                            +e.A.link(href="mailto:nadezhda@shust.me")
                                +icon("plane", "sprite")
                                +e.DIV.text-block
                                    +e.SPAN.title E-mail:
                                    +e.SPAN.text nadezhda@shust.me
                        +e.LI.item
                            +e.A.link(href="skype:nadezhda.shust")
                                +icon("skype", "sprite")
                                +e.DIV.text-block
                                    +e.SPAN.title Skype:
                                    +e.SPAN.text nadezhda.shust
                        +e.LI.item
                            +e.A.link(href="tel:+79267244554")
                                +icon("phone", "sprite")
                                +e.DIV.text-block
                                    +e.SPAN.text_phone +7 (926)724-45-54
        +b.DIV.header-bottom
            +e.NAV.nav
                +e.A.link(href="session.html") Сеансы
                +e.A.link(href="about-session.html") Как проходят сеансы
                +e.DIV.link_hipnosis Разновидности гипноза
                    +e.UL.list-hidden
                        li
                            a(href="single-article.html") Гипноз 1
                        li
                            a(href="single-article.html") Гипноз 2
                        li
                            a(href="single-article.html") Гипноз 3
                +e.A.link(href="video.html") Видео

    // header end

    +b.MAIN.contacts(class=bodyFlex ? 'main-flex' : '')
        +e.DIV.top-block.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                span /
                a Контакты
            +e.H1.title Контакты
        +e.DIV.map-block
            +e.DIV.map#map(data-zoom="7" data-lat="59.931632" data-lon="30.336528" data-latmark="59.931551" data-lonmark="33.336528" data-balloon="г.Москва ул.Мясницкая, дом 30/1/2, строение 1")
            +e.DIV.form-block.wrp
                +e.FORM.form(data-url="/")
                    +e.H1.form-title Заказать звонок
                    input(type="hidden" name="hidden" value="contacts-page-callback")
                    +e.DIV.lev
                        +e.INPUT.input_name.form-inp(type="text" name="name" placeholder="Ваше Имя" autocomplete="off")
                    +e.DIV.lev
                        +e.INPUT.input_phone.form-inp(type="text" name="phone" placeholder="Ваш телефон")
                    +e.BUTTON.button.form-btn(type="submit") Записаться
            +e.DIV.info-block-hidden
                p г.Москва ул.Мясницкая, дом 30/1/2, строение 1
                a(href="tel:+79267244554")
                    +icon("phone", "sprite")
                    span +7 (926)724-45-54

    include ../layout/footer

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script.
      ymaps.ready(init);
      var myMap;
      var el = document.getElementById('map').dataset;

      function init () {
        myMap = new ymaps.Map("map", {
          center: [el.lat, el.lon],
          zoom: el.zoom
        });

        var myPlacemark = new ymaps.Placemark([el.latmark, el.lonmark], {}, {
          iconLayout: 'default#image',
          iconImageHref: '/img/mark.svg',
          iconImageSize: [90, 90],
          iconImageOffset: [-45, 0],
          hintContent: '',
          balloonContent: ''
        });

        myMap.geoObjects.add(myPlacemark);

        myMap.balloon.open([el.latmark, el.lonmark], el.balloon, {
          // Опция: не показываем кнопку закрытия.
          closeButton: false
        });

        myMap.controls
          .remove('Button')
          .remove('fullscreenControl')
          .remove('typeSelector')
          .remove('geolocationControl')
          .remove('searchControl')
          .remove('trafficControl')
          .remove('rulerControl')
          .remove('zoomControl');

        myMap.behaviors.disable([
          'scrollZoom',
          'multiTouch',
          'drag'
        ]);
      }
