extends ../template

block variables
    - var title = 'Contacts'
    - var bodyFlex = true

block content

    include ../layout/header

    +b.MAIN.contacts(class=bodyFlex ? 'main-flex' : '')
        +e.DIV.top-block.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                span /
                a Контакты
            +e.H1.title Контакты
        +e.DIV.map-block
            +e.DIV.map#map(data-zoom="7" data-lat="59.931632" data-lon="30.336528" data-latmark="59.931551" data-lonmark="33.336528")
            +e.DIV.form-block.wrp
                +e.FORM.form(data-url="/")
                    +e.H1.form-title Заказать звонок
                    input(type="hidden" name="hidden" value="contacts-page-callback")
                    +e.DIV.lev
                        +e.INPUT.input_name.form-inp(type="text" name="name" placeholder="Ваше Имя")
                    +e.DIV.lev
                        +e.INPUT.input_phone.form-inp(type="text" name="phone" placeholder="Ваш телефон")
                    +e.BUTTON.button.form-btn(type="submit") Записаться

    include ../layout/footer

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script.
      ymaps.ready(init);
      var myMap;
      var el = document.getElementById('map').dataset;

      function init () {
        myMap = new ymaps.Map("map", {
          center: [el.lat, el.lon],
          zoom: el.zoom
        });

        var myPlacemark = new ymaps.Placemark([el.latmark, el.lonmark], {}, {
          iconLayout: 'default#image',
          iconImageHref: '/img/mark.svg',
          iconImageSize: [90, 90],
          iconImageOffset: [-3, -42],
          hintContent: '',
          balloonContent: ''
        });

        myMap.geoObjects.add(myPlacemark);

        myMap.controls
          .remove('Button')
          .remove('fullscreenControl')
          .remove('typeSelector')
          .remove('geolocationControl')
          .remove('searchControl')
          .remove('trafficControl')
          .remove('rulerControl')
          .remove('zoomControl');

        myMap.behaviors.disable([
          'scrollZoom'
        ]);
      }
