extends ../template

block variables
    - var title = 'Home page'
    - var bodyFlex = false

block content

    include ../layout/header

    +b.MAIN.main(class=bodyFlex ? 'main-flex' : '')
        include ../../components/hero-slider/hero-slider
        include ../../components/info/info
        include ../../components/callback/callback
        include ../../components/work-with/work-with
        include ../../components/therapy/therapy
        include ../../components/peson/person
        include ../../components/cells/cells
        include ../../components/format/format
        include ../../components/callback/callback
        include ../../components/test/test
        include ../../components/review/review
        include ../../components/articles/articles

    include ../layout/footer
