extends ../template

block variables
    - var title = 'Privacy-policy'
    - var bodyFlex = true

block content

    include ../layout/header

    +b.MAIN.privacy-policy(class=bodyFlex ? 'main-flex' : '')
        +e.DIV.cont.wrp
            +e.DIV.top-block
                +b.DIV.breadcrumbs
                    a(href="/") Главная
                    span /
                    a Политика конфиденциальности
                +e.H1.title_small Политика конфиденциальности
            +e.DIV.content-block
                ul
                    li 1. Согласно закону № 152-ФЗ «О персональных данных», все персональные данные Пользователя ресурса обрабатываются Владельцем сайта.
                    li 2. Виды данных, которые Пользователь оставляет при регистрации или при взаимодействиях с формами связи на сайте: имя, фамилия, дата рождения, адрес электронной почты.
                    li 3. Предоставляя персональные данные, вы соглашаетесь на их обработку (в целях выполнения обязательств Владельца сайта перед Пользователем). Также, в рамках публичной оферты, Владелец сайта имеет право использовать оставленные персональные данные для продвижения товаров и услуг, проведения опросов (электронных и sms), контроля результатов акции, поддержки, для доставки товара, проведения розыгрышей, оценки контроля качества.
                    li 4. Под обработкой данных, согласно ФЗ № 152 «О персональных данных», понимается действие или совокупность оных, совершаемых с использованием средств автоматизации (или без них). А именно: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передача (в том числе, третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
                    li 4.1. Владельц сайта имеет право отправлять информационные и рекламные сообщения на мобильный телефон или электронную почту Пользователя при условии его согласия, выраженного посредством совокупности совершенных их действий, позволяющих однозначно идентифицировать его и установить согласие на получение сообщений.
                    li 4.2. Пользователь вправе отказаться от получения сообщений без объяснения причин, путем информирования Владельца сайта по телефону или посредство отправки письма на электронную почту Владельца сайта. Сервисные сообщения о статусе заказа не могут быть отклонены.
                    li 5. Владелец сайта вправе использовать технологию «cookies», так как она не собирает конфиденциальную информацию. Настоящим Владелец сайта дает согласие на использование, сбор и анализ «cookies» (в том числе, третьими лицами) для формирования статистики и оптимизации рекламных сообщений.
                    li 6. Владелец сайта в праве получать информацию об ip-адресе Пользователя, так как она не может быть использована для установления личности Пользователя.
                    li 7. Владелец сайта не несет ответственности за предоставленные Пользователем в общедоступной форме сведения.
                    li 8. Владелец сайта вправе осуществлять запись телефонных разговоров с целью улучшения качества обслуживания. Однако обязуется предотвращать попытки несанкционированного доступа к информации третьими лицами, не имеющими отношения к исполнению заказов, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации».



    include ../layout/footer