extends ../template

block variables
    - var title = 'Questions'
    - var bodyFlex = true

block content

    include ../layout/header

    +b.MAIN.questions(class=bodyFlex ? 'main-flex' : '')
        +e.DIV.cont.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                span /
                a Частые вопросы
            +e.H1.title Частые вопросы
            ul
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
                li
                    h5 Влияние аффекта на семантическую организацию значений
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam delectus officia perspiciatis recusandae! Aliquam architecto consequuntur dicta harum in laborum praesentium, quibusdam repellendus tenetur velit. Aspernatur consectetur consequatur cum dolorum eligendi enim hic ipsam itaque minus, nobis quam quibusdam quo quod, repellendus repudiandae totam voluptates! Animi nisi omnis recusandae?
            +e.DIV.btn-block
                +e.A.btn-load.btn Загрузить еще

    include ../layout/footer
