extends ../template

block variables
    - var title = 'Review'
    - var bodyFlex = false

block content

    include ../layout/header

    +b.MAIN.review-page(class=bodyFlex ? 'main-flex' : '')

        // review-component

        +b.SECTION.review
            +e.DIV.cont
                +e.DIV.bc-cont.wrp
                    +b.DIV.breadcrumbs
                        a(href="/") Главная
                        span /
                        a Отзывы
                +e.H1.title.wrp Отзывы
                +e.DIV.slider_video
                    span
                        +e.DIV.item_v
                            img(src="img/video.jpg")
                            a(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
                    span
                        +e.DIV.item_v
                            img(src="img/video.jpg")
                            a(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
                    span
                        +e.DIV.item_v
                            img(src="img/video.jpg")
                            a(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
                    span
                        +e.DIV.item_v
                            img(src="img/video.jpg")
                            a(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
                +e.DIV.arrs_v.wrp

        // review-component-end

        +e.DIV.cells-block.wrp
            ul
                li
                    h5 Анастасия, 21 год, студентка
                    p Начался запой, который очень сильно изменил мою жизнь. страдала вся семья, молодой человек, и сама я. Справиться и выйти сама не могла, по утрам хотелось, обещания, и потом снова. Надежда реально помогла методами лечения, а после стала жить нормальной жизнью. . Спасибо вам огромное. Вы вернули мне жизнь. Начался запой, который очень сильно изменил мою жизнь. страдала вся семья, молодой человек, и сама я. Справиться и выйти сама не могла, по утрам хотелось, обещания, и потом снова. Надежда реально помогла методами лечения, а после стала жить нормальной жизнью. . Спасибо вам огромное. Вы вернули мне жизнь.

                li
                    h5 Анастасия, 21 год, студентка
                    p Начался запой, который очень сильно изменил мою жизнь. страдала вся семья, молодой человек, и сама я. Справиться и выйти сама не могла, по утрам хотелось, обещания, и потом снова. Надежда реально помогла методами лечения, а после стала жить нормальной жизнью. . Спасибо вам огромное. Вы вернули мне жизнь.
                li
                    h5 Анастасия, 21 год, студентка
                    p спасибки
                li
                    h5 Анастасия, 21 год, студентка
                    p четокактотак
                li
                    h5 Анастасия, 21 год, студентка
                    p Начался запой, который очень сильно изменил мою жизнь. страдала вся семья, молодой человек, и сама я. Справиться и выйти сама не могла, по утрам хотелось, обещания, и потом снова. Надежда реально помогла методами лечения, а после стала жить нормальной жизнью. . Спасибо вам огромное. Вы вернули мне жизнь.
                li
                    h5 Анастасия, 21 год, студентка
                    p Начался запой, который очень сильно изменил мою жизнь. страдала вся семья, молодой человек, и сама я. Справиться и выйти сама не могла, по утрам хотелось, обещания, и потом снова. Надежда реально помогла методами лечения, а после стала жить нормальной жизнью. . Спасибо вам огромное. Вы вернули мне жизнь.

        +e.DIV.btn-block
            +e.A.btn-load.btn Загрузить еще

    include ../layout/footer
