extends ../template

block variables
    - var title = 'Video'
    - var bodyFlex = true

block content

    +b.HEADER.header
        +b.DIV.header-top
            +e.DIV.nav-block
                +e.NAV.nav
                    +e.A.nav-link(href="#") Цены
                    +e.A.nav-link(href="about.html") Обо мне
                    +e.A.nav-link(href="review-page.html") Отзывы
                    +e.A.nav-link(href="#") Частые вопросы
                    +e.A.nav-link(href="#") Полезные статьи
                    +e.A.nav-link(href="#") Студентам
                    +e.A.nav-link(href="#") Контакты
                +e.SPAN.enter#enter Войти
            +e.DIV.info-block
                +b.A.logo-block(href="/")
                    +icon("logo", "sprite")
                    +e.DIV.info
                        +e.SPAN.name Надежда Шуст
                        +e.SPAN.text Клинический психолог
                +b.DIV.layout-info
                    +e.UL.list
                        +e.LI.item
                            +e.DIV.link
                                +icon("mark", "sprite")
                                +e.DIV.text-block
                                    +e.SPAN.title Адрес:
                                    +e.SPAN.text г.Москва ул.Мясницкая, дом 30/1/2, строение 1
                        +e.LI.item
                            +e.A.link(href="#")
                                +icon("plane", "sprite")
                                +e.DIV.text-block
                                    +e.SPAN.title E-mail:
                                    +e.SPAN.text nadezhda@shust.me
                        +e.LI.item
                            +e.A.link(href="#")
                                +icon("skype", "sprite")
                                +e.DIV.text-block
                                    +e.SPAN.title Skype:
                                    +e.SPAN.text nadezhda.shust
                        +e.LI.item
                            +e.A.link(href="#")
                                +icon("phone", "sprite")
                                +e.DIV.text-block
                                    +e.SPAN.text_phone +7 (926)724-45-54
        +b.DIV.header-bottom
            +e.NAV.nav
                +e.A.link(href="session.html") Сеансы
                +e.A.link(href="about-session.html") Как проходят сеансы
                +e.A.link(href="hypnosis.html") Разновидности гипноза
                +e.A.link.active(href="video.html") Видео

    // header end

    +b.MAIN.video(class=bodyFlex ? 'main-flex' : '')
        +e.DIV.cont.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                span /
                a Видео
            +e.H1.title Видео
            +e.UL.list
                +e.LI.item
                    +e.DIV.img-block
                        +e.IMG.img(src="img/video.jpg")
                        +e.A.btn.btn-play
                    +e.H4.lil-title Влияние аффекта на семантическую организацию значений
                +e.LI.item
                    +e.DIV.img-block
                        +e.IMG.img(src="img/video.jpg")
                        +e.A.btn.btn-play
                    +e.H4.lil-title Влияние аффекта на семантическую организацию значений
                +e.LI.item
                    +e.DIV.img-block
                        +e.IMG.img(src="img/video.jpg")
                        +e.A.btn.btn-play
                    +e.H4.lil-title Влияние аффекта на семантическую организацию значений
                +e.LI.item
                    +e.DIV.img-block
                        +e.IMG.img(src="img/video.jpg")
                        +e.A.btn.btn-play
                    +e.H4.lil-title Влияние аффекта на семантическую организацию значений
            +e.DIV.btn-block
                +e.A.btn-load.btn Загрузить еще

    include ../layout/footer
