+b.SECTION.hero-slider
    +e.DIV.arrs
    +e.DIV.dots
    +b.DIV.hero-slider-text
        +e.DIV.slide
            +e.H1.title Cенсомоторный психосинтез
            +e.P.text Метод отлично зарекомендовал себя в экспериментальной психологии, в психокоррекционной работе, в психотерапии, а также в спорте, криминалистике, медицине и других областях
            +e.A.btn.btn Записаться на прием
                +icon("arr-next", "sprite")
        +e.DIV.slide
            +e.H1.title Cенсомоторный психосинтез (2)
            +e.P.text Метод отлично зарекомендовал себя в экспериментальной психологии, в психокоррекционной работе, в психотерапии, а также в спорте, криминалистике, медицине и других областях
            +e.A.btn.btn Записаться на прием
                +icon("arr-next", "sprite")
        +e.DIV.slide
            +e.H1.title Cенсомоторный психосинтез (3)
            +e.P.text Метод отлично зарекомендовал себя в экспериментальной психологии, в психокоррекционной работе, в психотерапии, а также в спорте, криминалистике, медицине и других областях
            +e.A.btn.btn Записаться на прием
                +icon("arr-next", "sprite")
    +b.DIV.hero-slider-img
        +e.DIV.slide
            +e.SPAN.mask
            +e.IMG.img(src="img/heroSlider.jpg")
        +e.DIV.slide
            +e.SPAN.mask
            +e.IMG.img(src="img/group.jpg")
        +e.DIV.slide
            +e.SPAN.mask
            +e.IMG.img(src="img/therapy.jpg")
