+b.SECTION.hero-slider
    +e.DIV.arrs
    +e.DIV.dots
    +b.DIV.hero-slider-text
        +e.DIV.slide
            h1 Cенсомоторный психосинтез
            p Метод отлично зарекомендовал себя в экспериментальной психологии, в психокоррекционной работе, в психотерапии, а также в спорте, криминалистике, медицине и других областях
            +e.A.btn.btn(href="#hero-slider-popup-slide-1")
                span Записаться на прием
                +icon("arr-next", "sprite")
        +e.DIV.slide
            h1 Cенсомоторный психосинтез (slide #2)
            p Метод отлично зарекомендовал себя в экспериментальной психологии, в психокоррекционной работе, в психотерапии, а также в спорте, криминалистике, медицине и других областях
            +e.A.btn.btn(href="#hero-slider-popup-slide-2")
                span Записаться на прием
                +icon("arr-next", "sprite")
        +e.DIV.slide
            h1 Cенсомоторный психосинтез (slide #3)
            p Метод отлично зарекомендовал себя в экспериментальной психологии, в психокоррекционной работе, в психотерапии, а также в спорте, криминалистике, медицине и других областях
            +e.A.btn.btn(href="#hero-slider-popup-slide-3")
                span Записаться на прием
                +icon("arr-next", "sprite")
    +b.DIV.hero-slider-img
        +e.DIV.slide
            +e.SPAN.mask
            img(src="img/heroSlider.jpg")
        +e.DIV.slide
            +e.SPAN.mask
            img(src="img/group.jpg")
        +e.DIV.slide
            +e.SPAN.mask
            img(src="img/therapy.jpg")
