+b.SECTION.work-with
    +e.H2.title.wrp С чем я работаю
    +e.DIV.cont
        +e.DIV.arrs
        +e.DIV.slider
            +e.DIV.slide 1
            +e.DIV.slide
            +e.DIV.slide
            +e.DIV.slide
            +e.DIV.slide
            +e.DIV.slide

