+b.SECTION.work-with
    +e.DIV.title-block.wrp
        +e.H2.title С чем я работаю
        +e.DIV.arrs
    +e.DIV.cont
        +e.DIV.slider
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    img(src="img/card.jpg")
                    h5 Фобии loremipsumd
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    img(src="img/card.jpg")
                    h5 Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    img(src="img/card.jpg")
                    h5 Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    img(src="img/card.jpg")
                    h5 Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    img(src="img/card.jpg")
                    h5 Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    img(src="img/card.jpg")
                    h5 Фобии
