+b.SECTION.work-with
    +e.DIV.title-block.wrp
        +e.H2.title С чем я работаю
        +e.DIV.arrs
    +e.DIV.cont
        +e.DIV.slider
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    +e.IMG.img(src="img/card.jpg")
                    +e.H5.text Фобии loremipsumdoloramet
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    +e.IMG.img(src="img/card.jpg")
                    +e.H5.text Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    +e.IMG.img(src="img/card.jpg")
                    +e.H5.text Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    +e.IMG.img(src="img/card.jpg")
                    +e.H5.text Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    +e.IMG.img(src="img/card.jpg")
                    +e.H5.text Фобии
            +e.DIV.box
                +e.A.item(href="single-article.html")
                    +e.IMG.img(src="img/card.jpg")
                    +e.H5.text Фобии
