+b.SECTION.therapy
    +e.DIV.cont
        +e.DIV.info-block.wrp
            +e.DIV.text-block
                +e.H1.title Как проходят сеансы?
                +e.UL.list
                    +e.LI.item Сеансы проводятся индивидуально и в группе (7–12 человек)
                    +e.LI.item Работа строится курсами по 12 сеансов
                    +e.LI.item Сеанс продолжается около 2 ч, (1,5 ч занимает работа в трансе)
                    +e.LI.item Содержание сеанса подбирается индивидуально
                    +e.LI.item В групповой работе учитывается разница в возможностях участников
                    +e.LI.item
                        | Сеансы выстраиваются , чтобы принести максимальную пользу
                        br
                        |всем пациентам
            +e.A.btn.btn-play(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
