+b.SECTION.therapy
    +e.DIV.cont
        +e.DIV.info-block.wrp
            +e.DIV.text-block
                +e.H1.title Как проходят сеансы?
                ul
                    li Сеансы проводятся индивидуально и в группе (7–12 человек)
                    li Работа строится курсами по 12 сеансов
                    li Сеанс продолжается около 2 ч, (1,5 ч занимает работа в трансе)
                    li Содержание сеанса подбирается индивидуально
                    li В групповой работе учитывается разница в возможностях участников
                    li Сеансы выстраиваются , чтобы принести максимальную пользу всем пациентам
            +e.A.btn.btn-play(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
