.therapy
  background: #f5fafa
  &__cont
    height: 473px
    background-image: url("../img/therapy.jpg")
    background-repeat: no-repeat
    background-position: 100% center
    background-size: 55%
  &__info-block
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &__title
    margin-bottom: 29px
  ul
    max-width: 800px
  li
    font-size: 18px
    margin-top: 19px
    padding-left: 26px
    line-height: 1.3
    +psevdo
    &:before
      width: 6px
      height: 6px
      border-radius: 50px
      background: $main-col
      top: 6px
      left: 0
