+b.SECTION.person
    +e.DIV.cont
        +e.DIV.info-block.wrp
            +e.DIV.text-block
                +e.H1.title
                    +e.SPAN.title_col Надежда Шуст -
                    span клинический психолог
                .single-article
                    +e.P.text Я использую гипноз для психотерапевтического воздействия на множество соматических и психических расстройств, в том числе на аутоиммунные заболевания (онкологические заболевания, аллергия), эндогенные психические расстройства (шизофрения, биполярное аффективное расстройство), невротические расстройства (депрессия, фобии, панические атаки, генерализованное тревожное расстройство), а также для избавления от зависимостей (алкоголизм, табакокурение, наркомания, лудомания).Я использую гипноз для психотерапевтического воздействия на множество соматических и психических расстройств, в том числе на аутоиммунные заболевания (онкологические заболевания, аллергия), эндогенные психические расстройства (шизофрения, биполярное аффективное расстройство), невротические расстройства (депрессия, фобии, панические атаки, генерализованное тревожное расстройство), а также для избавления от зависимостей (алкоголизм, табакокурение, наркомания, лудомания).
