+b.FOOTER.footer

    +b.DIV.callback
        +e.DIV.wrp.wrp
            +e.DIV.text-block
                +e.SPAN.title Остались вопросы? Задайте вопросы нашему менеджеру
                +e.SPAN.text Вам перезвонят в течение 2 минут
            +e.FORM.form_callback(data-url="/mail.php")
                input(type="hidden" name="hidden" value="callback")
                +e.DIV.lev
                    +e.INPUT.input_phone.form-inp(type="text" name="phone" placeholder="Ваш телефон")
                +e.BUTTON.button.form-btn(type="submit") Записаться

    +e.DIV.footer-bottom
        +e.DIV.links-block
            +b.A.logo-block(href="/")
                +icon("logo", "sprite")
                +e.DIV.info
                    +e.SPAN.name Надежда Шуст
                    +e.SPAN.text Клинический психолог
            +e.DIV.all-links
                +e.DIV.link-col
                    +e.A.link(href="about-session.html") Как проходят сеансы
                    +e.A.link(href="questions.html") Частые вопросы
                    +e.A.link_h Разновидности гипноза
                +e.DIV.link-col
                    +e.A.link(href="session.html") Сеансы
                    +e.A.link(href="students.html") Студентам
                    +e.A.link(href="video.html") Видео
                +e.DIV.link-col
                    +e.A.link(href="price.html") Цены
                    +e.A.link(href="about.html") Обо мне
                    +e.A.link(href="review-page.html") Отзывы
                +e.DIV.link-col
                    +e.A.link(href="articles-page.html") Полезные статьи
                    +e.A.link(href="single-article.html") Блог
                    +e.A.link(href="contacts.html") Контакты
            +e.DIV.copy-block
                +e.A.m-block(href="https://markello.ru/" target="_blank")
                    +icon("markello", "sprite")
                    +e.SPAN.m-text_name Markello
                    +e.SPAN.m-text - made with love
                +e.A.copy(href="privacy-policy.html")
                    | © 2009-2016 Надежда Шуст
                    br
                    | Политика конфиденциальности
                +e.A.agreement(href="agreement.html") Публичная оферта

        +e.DIV.info-block
            +b.DIV.layout-info
                +e.UL.list
                    +e.LI.item_address
                        +e.DIV.link
                            +icon("mark", "sprite")
                            +e.DIV.text-block_address
                                +e.SPAN.title_address Адрес:
                                +e.SPAN.text_address г.Москва ул.Мясницкая, дом 30/1/2, строение 1
                    +e.LI.item_mail
                        +e.A.link(href="mailto:nadezhda@shust.me")
                            +icon("plane", "sprite")
                            +e.DIV.text-block
                                +e.SPAN.title E-mail:
                                +e.SPAN.text nadezhda@shust.me
                    +e.LI.item_skype
                        +e.A.link(href="skype:nadezhda.shust")
                            +icon("skype", "sprite")
                            +e.DIV.text-block
                                +e.SPAN.title Skype:
                                +e.SPAN.text nadezhda.shust
                    +e.LI.item_socials
                        +e.A.social-link(href="#")
                            +icon("insta", "sprite")
                        +e.A.social-link(href="#")
                            +icon("fb", "sprite")
                        +e.A.social-link(href="#")
                            +icon("vk", "sprite")
                    +e.LI.item
                        +e.A.link(href="tel:+79267244554")
                            +icon("phone", "sprite")
                            +e.DIV.text-block
                                +e.SPAN.text_phone +7 (926)724-45-54
