+b.HEADER.header
    include ./header-top
    +b.DIV.header-bottom
        +e.NAV.nav
            +e.A.link(href="#") Сеансы
            +e.A.link(href="#") Как проходят сеансы
            +e.A.link.active(href="#") Разновидности гипноза
            +e.A.link(href="#") Видео
