- var icons = ['fa-linkedin-in', 'fa-github-alt', 'fa-tumblr', 'fa-vk']

-
    var people  = [
        {
            "img": "img/user1.jpg",
            "name": "Anna",
            "age": "20"
        },
        {
            "img": "img/user2.jpg",
            "name": "Lola",
            "age": "17"
        }
    ]
